.for{
    margin-left: 7%;
    margin-right: 7%;
    input{
        height: 40px;
        padding-left: 10px;
        border-color: rgba(221, 221, 221, 1);
        
        
    }

    .statee{
        display: flex;
        gap: 1%;
        input{
            width: 78%;
        }
    }
    button{
            
        width: 90%;
        height: 40px;
        background-color: rgba(89, 50, 234, 1);
        color: white;
        border: 1px solid rgba(89, 50, 234, 1);
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 10rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        transform: 0.2s ease;
        &:hover{
            background-color: darkviolet;
            transform: scale(1);
        }
        &:active{
            transform: scale(0.93);
        }
    }
}



@media (min-width:768px){
    .for{
        input{
            height: 50px;
        }
        .statee{
            input{
                margin-left: 27%;
            }
        }
        button{
            height: 50px;
            border-radius: 20px;
            margin-left: 7%;
            margin-right:7%;
            width: 80%;
        }
    }
}


@media(min-width:1024px){
    .for{
        input{
            height: 70px;
            font-size: 20px;
            border-radius: 20px;
        }
        .statee{
            input{
                margin-left: 25%;
            }
        }
        button{
            height: 70px;
            font-size: 35px;
            border-radius: 30px;

        }
    }
}


@media(min-width:1440px){
    .for{
        input{
            height: 90px;
        }
        
        .statee{
            input{
                margin-left:31%;
            }
        }
        button{
            height: 90px;
            font-size: 38px;
        }
    }
}


@media(min-width:2560px){
    .for{
        input{
            height: 150px;
            border-radius: 40px;
            padding-left: 20px;
            font-size: 40px;
        }
        
        .statee{
            input{
                margin-left:31%;
            }
        }
        button{
            height: 150px;
            font-size: 45px;
            border-radius: 50px;
        }
    }
}