.nav-container{
    display: flex;
    font-family: commissioner, sans-serif;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
}
.nav-tabs {
  display: flex;
  gap: 2rem;
  list-style: none;
  
  padding: 0;
  margin: 0;
}

.nav-tabs li {
  position: relative;
}

.nav-tabs a {
  text-decoration: none;
  color: #555;
  padding: 0.5rem 0;
  font-size: 1rem;
  position: relative;
  display: inline-block;  
}

.nav-tabs a.active {
  color: black;
  font-weight: 500;
}

.nav-tabs a.active::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}



@media (min-width:768px){
  .nav-container{
    margin-left: 13%;
    margin-right: 13%;
  }
}

@media (min-width:1024px){
  .nav-container{
    .close-icon{
      font-size: 50px;
    }
    .nav-tabs a{
      font-size: 27px;
    }
  }
}


@media (min-width:1440px){
  .nav-container{
    .close-icon{
      font-size: 60px;
    }
    .nav-tabs a{
      font-size: 34px;
    }
  }
}

@media (min-width:2560px){
  .nav-container{
    .close-icon{
      font-size: 100px;
    }
    .nav-tabs a{
      font-size: 50px;
      gap: 40%;
    }
    .nav-tabs{
      gap: 10rem;
    }
  }
}