.navv{
    display: flex;
    align-items: center;
    gap: 6%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 7%;
    p{
        color: rgba(107, 198, 45, 1);
        font-size: 16px;
        font-weight: 700;
    }
    h2{
        font-size: 20px;
        font-weight: 700;
    }
}