.navvv{
    display: flex;
    align-items: center;
    gap: 6%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 7%;
    p{
        color: rgba(107, 198, 45, 1);
        font-size: 16px;
        font-weight: 700;
    }
    h2{
        font-size: 20px;
        font-weight: 700;
    }
}

@media(min-width:768px){
    .navvv{
        margin-left: 13%;
        margin-right: 13%;
        gap: 10%;
    }
}
@media (min-width:1024px){
    .navvv{
        h2{
            font-size: 34px;
        }
        p{
            font-size: 25px;
        }
        .close-icon{
            font-size: 50px;
        }
    }
}


@media (min-width:1404px){
    .navvv{
        h2{
            font-size: 34px;
        }
        p{
            font-size: 25px;
        }
        .close-icon{
            font-size: 60px;
        }
    }
}


@media (min-width:2560px){
    .navvv{
        h2{
            font-size: 34px;
        }
        p{
            font-size: 25px;
        }
        .close-icon{
            font-size: 100px;
        }
    }
}