.navvv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
    margin-top: 7%;
    
    p{
        color: rgba(107, 198, 45, 1);
        font-size: 16px;
        font-weight: 700;
    }
    h2{
        font-size: 20px;
        font-weight: 700;
    }
}