.error{
    color: red;
    font-size: small;
    text-align: center;
}
Form{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 30px;
    
    .inputt{
        input{
            width: 100%;
            padding-left: 20px;
            height: 40px;
            border-color: rgba(221, 221, 221, 1);
        }
    }
    .labels{
        display: inline-flex;
        align-items: center;
        gap: 10px;
        
    }
    .labelin{
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        gap: 5px;


        

    }
    input[type='radio']{
       accent-color: rgb(101, 20, 101);
       margin: 0;

    }
    
    .visible{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        .bad{
            color:rgba(26, 7, 16, 0.65);
        }
        p{
            color: rgba(26, 7, 16, 0.65);
            font-size: 13px;
            font-weight: 700;
        }
    }
    .number {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;

        .react-tel-input {
            width: 100%;
            height: 40px;

            .form-control {
                width: 100% !important;
                padding: 10px 10px 10px 50px; 
                font-size: 1rem;
                border: 1px solid #ccc;
                border-radius: 6px;
                height: 40px;
                box-sizing: border-box;

            }
        }
    }
    .date{
        input{
            margin-right: 7%;
            height: 40px;
            width: 17rem;
            max-width: 100%;
            padding-left: 10px;
            margin-top: 10px;
        }
        
    }
    p{
        font-weight: 400;
        font-size: 13px;
        color: rgba(26, 7, 16, 0.65);

    }

    

}



@media(min-width:375px){
    Form{
        .date{
        input{
            width: 20rem;
            
        }
    }
    }
}


@media(min-width:425px){
    Form{
        .date{
        input{
            width: 23rem;
            
        }
    }
    }
}

@media (min-width:768px){
    Form{
        .inputt{
            input{
                margin-left: 7%;
                margin-right: 7%;
                width: 80%;
                height: 50px;

            }
        }
        .labels{
            margin-left: 6%;
            margin-right: 7%;
        }
        .visible{
            margin-left: 7%;
            margin-right: 7%;
            p{
                margin-left: -8px;
            }
        }
        .number{
            margin-left: 7%;
            margin-right: 7%;
            width: 80%;
            margin-top: 20px;
            .react-tel-input{
                height: 50px;
                
                .form-control{
                    height: 50px;
                }
            }
        }
        .date{
            input{
                margin-left: 8%;
                margin-right: 7%;
                width: 33rem;
                max-width: 100%;
                height: 50px;
            }
            
        }
        .bat{
            margin-left: 8%;
            margin-right: 7%;
        }
        .buttonn{
            margin-left: 7%;
            margin-right: 7%;
            width: 80%;
        }
        
    }
}

@media (min-width:1024px){
    Form{
        .inputt{
            input{
                height: 70px;
                font-size: 18px;
            }
        }
        .labels{
            .hi{
                font-size: 26px;
            }
            .labelin{
                font-size: 24px;
                input{
                    width: 20px;
                    height: 20px;
                }
            }
            
        }
        .visible{
            margin-top: 20px;
            p{
                font-size: 20px;
            }
        }
        .number{
            .react-tel-input{
                height: 70px;
                
                .form-control{
                    height: 70px;
                    font-size: 25px;
                }
            }
        }
        .date{
            input{
                margin-left: 9%;
                margin-right: 7%;
                width: 43.7rem;
                max-width: 100%;
                height: 70px;
                font-size: 25px;
            }
            
        }
        .bat{
            font-size: 20px;
        }
        .buttonn{
            height: 70px;
            font-size: 30px;
            margin-top: 40px;
        }
    }
}


@media(min-width:1440px){
    Form{
        .inputt{
            input{
                height: 90px;
                font-size: 22px;
            }
        }
        .number{
            .react-tel-input{
                height: 90px;
                
                .form-control{
                    height: 90px;
                    font-size: 30px;
                }
            }
        }
        .date{
            input{
                margin-left: 8.5%;
                margin-right: 7%;
                width: 62.1rem;
                max-width: 100%;
                height: 90px;
                font-size: 30px;
            }
            
        }
        .bat{
            margin-top: 20px;
        }
        .buttonn{
            height: 90px;
            font-size: 35px;
            margin-top: 40px;
        }
    }
}