.RegisterHero{
    font-family:commissioner;
    margin-top: 40px;
    margin-left: 8%;
    margin-right: 8%;
    .media{
        display: flex;
        gap: 5%;
        
    
    }
    p{
        color: rgba(26, 7, 16, 0.4);
        margin-top: 20px;
        
    }
    
}